<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Archives — notes from druchan</title>
  <link href="./style.css" rel="stylesheet" />
  <link href="./images/favicon.png" rel="icon" />
</head>

<body>
  <div>
    <h3 id="logo">
      <a href="/">
        &larr; notes / druchan
      </a>
    </h3>
    <header>
      <h1>Archive</h1>
    </header>
    <article id="archive_container">{{content}}</article>
    <footer>
      <a href="/">&larr; Blog</a>
      <span>&bull;</span>
      <a href="https://druchan.com">druchan.com</a>
    </footer>
  </div>
</body>

</html>