<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>notes — druchan.com</title>
  <link href="./style.css" rel="stylesheet" />
  <link href="./images/favicon.png" rel="icon" />
</head>

<body>
  <div>
    <h3 id="home-page-logo">
      <a href="/">
        notes / druchan
      </a>
    </h3>
    <header>
      <p>Where I jot down thoughts and/or narrate things infrequently.</p>
    </header>
    <article>
      <section>
        <h3>Things I wrote recently:</h3>
        <div>{{recent_posts}}</div>
      </section>
      <section>
        <h3>Archives</h3>
        <div>
          <a href="./archive.html">See the full archive &rarr;</a>
        </div>
      </section>
      {{posts_by_categories}}
    </article>
    <footer>
      <a href="/feed.xml">rss feed</a>
      <span>&bull;</span>
      <a href="https://druchan.com">druchan.com</a>
    </footer>
  </div>
</body>

</html>