@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,600;1,400;1,600&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css");

@tailwind base;
@tailwind utilities;
@tailwind components;

::root {
  --body-text-color: ;
}

html {
  @apply text-[16px] md:text-[20px];
}

body {
  font-family: "Fraunces", "Buenard", "Sora", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", serif;
  font-weight: 300;
  @apply bg-slate-50 text-slate-800 p-10 max-w-[700px] leading-relaxed;
}

a {
  @apply text-lime-600 hover:text-lime-900 transition;
}

article > a, article > *:not(section) a {
  @apply border-b border-dotted border-lime-600 hover:border-lime-900 transition;
}

ul {
  @apply space-y-2 sm:space-y-1;
}

h1 {
  @apply font-semibold tracking-tight text-3xl mt-6;
}

#logo,
#logo a {
  @apply text-slate-400;
  font-family: "Fraunces", serif;
}

#home-page-logo,
#home-page-logo a {
  @apply font-semibold tracking-tight text-3xl;
  font-family: "Fraunces", serif;
}

article {
  @apply space-y-6;
}

#date {
  @apply text-sm text-slate-500;
}

header {
  @apply mt-3 mb-4 pb-4 border-b;
}

footer {
  @apply text-sm sm:text-base pt-4 mt-4 mb-10 border-t flex gap-x-3;
}

article h2 {
  @apply text-2xl font-semibold;
}
article h3 {
  @apply text-xl font-semibold;
}
article h4 {
  @apply text-lg font-semibold;
}
article h5 {
  @apply text-base font-semibold;
}
article h6 {
  @apply text-base font-semibold;
}

section h3, article section h3 {
  @apply font-fraunces font-semibold mb-1 uppercase text-xs text-slate-400;
}

.date {
  @apply text-slate-400 text-xs font-fraunces;
}

/* code, pre {
  font-family: monospace;
  @apply text-xs;
} */

code,
li code {
  @apply font-mono text-xs px-1 py-1 bg-slate-200 leading-5 rounded;
}

.hljs {
  @apply rounded border border-slate-200 bg-slate-100;
}

ol {
  @apply list-decimal;
}

ul {
  @apply list-disc;
}

/* disable list-disc for home page list */
article section ul {
  @apply list-none;
}

/* disabled list-disc for archive page list */
article#archive_container ul {
  @apply list-none;
}

blockquote {
  @apply border-l-4 border-slate-200 pl-4 space-y-4 text-slate-500 text-sm leading-relaxed;
}

